body {
  margin: 0;
  padding: 0;
}

#container {
  position: fixed;
  height: 100%;
  width: 100%;
}

canvas {
  height: auto !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
}
